@charset "UTF-8";
/*!
 * ress.css • v1.1.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements */
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

body {
  font-size: 62.5%;
  color: #333333;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mypage__menu__wrap {
  height: 725px;
}

.mypage__menu__wrap .mypage__menu__box {
  width: 400px;
  height: 725px;
  background-color: #F8F8F8;
}

.mypage__menu__wrap .mypage__menu__box .mypage__menu__typeChangeBox {
  display: -webkit-box;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 30px;
}

.mypage__menu__wrap .mypage__menu__box .mypage__menu__typeChangeBox .mypage__menu__usertype {
  font-size: 1.5rem;
  margin-right: 20px;
  color: #707070;
}

.mypage__menu__wrap .mypage__menu__box .mypage__menu__typeChangeBox a {
  text-decoration: none;
  color: #333333;
}

.mypage__menu__wrap .mypage__menu__box .mypage__menu__typeChangeBox a .mypage__menu__typeChangeBT {
  font-size: 1.5rem;
  margin-right: 30px;
  cursor: pointer;
  color: #707070;
}

.mypage__menu__wrap .mypage__menu__box .mypage__menu__nameTitle {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 10px;
  color: #707070;
}

.mypage__menu__wrap .mypage__menu__box .mypage__menu__name {
  font-size: 2.4rem;
  margin-left: 50px;
  color: #707070;
}

.mypage__menu__wrap .mypage__menu__box ul.mypage__menu__BtBox {
  margin-top: 40px;
}

.mypage__menu__wrap .mypage__menu__box ul.mypage__menu__BtBox a {
  text-decoration: none;
  color: #333333;
}

.mypage__menu__wrap .mypage__menu__box ul.mypage__menu__BtBox a:last-child {
  background-color: red;
}

.mypage__menu__wrap .mypage__menu__box ul.mypage__menu__BtBox a:last-child::after {
  content: "";
  display: block;
  width: 400px;
  height: 1px;
  background-color: #707070;
  position: relative;
  bottom: 0;
}

.mypage__menu__wrap .mypage__menu__box ul.mypage__menu__BtBox li {
  height: 65px;
  list-style-type: none;
}

.mypage__menu__wrap .mypage__menu__box ul.mypage__menu__BtBox li:hover {
  background-color: white;
  cursor: pointer;
}

.mypage__menu__wrap .mypage__menu__box ul.mypage__menu__BtBox li::before {
  content: "";
  display: block;
  width: 400px;
  height: 1px;
  background-color: #707070;
  position: relative;
  top: 0;
}

.mypage__menu__wrap .mypage__menu__box ul.mypage__menu__BtBox li .mypage__menu__BtContentsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mypage__menu__wrap .mypage__menu__box ul.mypage__menu__BtBox li .mypage__menu__BtContentsBox img {
  line-height: 65px;
  margin-left: 50px;
}

.mypage__menu__wrap .mypage__menu__box ul.mypage__menu__BtBox li .mypage__menu__BtContentsBox div {
  line-height: 65px;
  margin-left: 25px;
  font-size: 2.0rem;
  color: #707070;
}

.mypage__menu__wrap .mypage__menu__box ul.mypage__menu__BtBox li .mypage__menu__BtContentsBox .mypage__menu__newsBtMark {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #EB5050;
  margin: auto 0 auto 15px;
}

.mypage__menu__wrap .mypage__menu__box .mypage__menu__AdBox {
  margin-top: 30px;
  margin-bottom: 50px;
}

.mypage__menu__wrap .mypage__menu__box .mypage__menu__AdBox div {
  text-align: center;
}

.mypage__menu__wrap .mypage__menu__box .mypage__menu__AdBox div:last-child {
  margin-top: 30px;
}

.mypage__menu__wrap .mypage__menu__box .mypage__menu__AdBox div img {
  width: 250px;
}

.mypage__fav__wrap {
  width: 100%;
  height: 725px;
  overflow-y: scroll;
}

.mypage__fav__wrap .mypage__fav__box {
  width: 800px;
  margin: 0 auto;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__titleBox {
  position: absolute;
  z-index: 10;
  display: block;
  width: 800px;
  height: 100px;
  background-color: white;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__titleBox h1 {
  font-size: 2.0rem;
  padding-top: 40px;
  text-align: center;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox {
  padding-top: 130px;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox a {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox a:nth-child(3n-1) {
  margin: 0 20px;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox a .index__logobox {
  width: 200px;
  height: 200px;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox a .index__logobox img {
  position: relative;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: block;
  width: 180px;
  height: 180px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox a .index__logobox img:hover {
  width: 200px;
  height: 200px;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox a .index__logo__text {
  display: none;
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox a .index__logo__text p {
  text-align: center;
  font-size: 1.9rem;
  font-weight: bold;
  color: #333333;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox a .index__logo__text p:last-child {
  font-size: 1.6rem;
  color: #BEBEBE;
  font-weight: normal;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox a:hover .index__logo__text {
  display: block;
  -webkit-animation-name: logotext;
          animation-name: logotext;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox .mypage__news__pageBox {
  width: 800px;
  margin: 50px auto 50px auto;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox .mypage__news__pageBox ul.mypage__news__pageUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox .mypage__news__pageBox ul.mypage__news__pageUl li.mypage__news__pageLi {
  list-style-type: none;
  width: 30px;
  height: 30px;
  background-color: #B4BF5E;
  color: white;
  margin: 0 20px;
  cursor: pointer;
}

.mypage__fav__wrap .mypage__fav__box .mypage__fav__favBox .mypage__fav__contentsBox .mypage__news__pageBox ul.mypage__news__pageUl li.mypage__news__pageLi .mypage__news__pageNum {
  color: white;
  font-size: 1.6rem;
  line-height: 30px;
  text-align: center;
}

@-webkit-keyframes logotext {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
}

@keyframes logotext {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
}

.footer__information {
  background-color: #F8F8F8;
  border: 1px solid #E5E5E5;
  padding-top: 50px;
  padding-bottom: 80px;
}

.footer__information .footer__information__box {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__information .footer__information__box .footer__information__left {
  width: 60%;
}

.footer__information .footer__information__box .footer__information__left p {
  display: block;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.footer__information .footer__information__box .footer__information__left p:first-child {
  width: 200px;
  background: url(../img/index_information_price.png) no-repeat 2px center;
  font-weight: bold;
  padding-left: 35px;
  margin-bottom: 20px;
}

.footer__information .footer__information__box .footer__information__left p:last-child {
  color: #BEBEBE;
  padding-right: 50px;
}

.footer__information .footer__information__box .footer__information__right {
  display: block;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.footer__information .footer__information__box .footer__information__right img.logo__midium {
  width: 279px;
  height: 66px;
  margin: 0 auto 40px auto;
}

.footer__information .footer__information__box .footer__information__mail {
  width: 380px;
  height: 174px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #E5E5E5;
  padding: 30px 20px;
}

.footer__information .footer__information__box .footer__information__mail p {
  font-size: 1.5rem;
  line-height: 2.0rem;
}

.footer__information .footer__information__box .footer__information__mail p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__information .footer__information__box .footer__information__mail a {
  text-decoration: none;
}

.footer__information .footer__information__box .footer__information__mail a .footer__information__mail__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 170px;
  height: 44px;
  line-height: 44px;
  background-color: #F2A679;
  border-radius: 10px;
  margin: 20px auto 0 auto;
}

.footer__information .footer__information__box .footer__information__mail a .footer__information__mail__btn:hover {
  opacity: 0.7;
}

.footer__information .footer__information__box .footer__information__mail a .footer__information__mail__btn img.mail {
  height: 16px;
  margin: auto 10px auto 15px;
}

.footer__information .footer__information__box .footer__information__mail a .footer__information__mail__btn p {
  font-size: 1.6rem;
  line-height: 44px;
  color: #FFFFFF;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: normal;
  padding-left: 5px;
}

.footer__sitemap_wrap {
  background-color: #505050;
  padding: 20px 0;
}

.footer__sitemap_wrap .footer__sitemap_box {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.footer__sitemap_wrap .footer__sitemap_box ul {
  text-align: center;
  margin: 0 auto;
}

.footer__sitemap_wrap .footer__sitemap_box ul a {
  text-decoration: none;
}

.footer__sitemap_wrap .footer__sitemap_box ul a li {
  font-size: 1.2rem;
  display: inline-block;
  color: #FFFFFF;
  margin: 0 10px;
}

.footer__sitemap_wrap .footer__sitemap_box a.footr__back__top__link .footr__back__top {
  position: absolute;
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%;
  background-color: #333333;
  text-align: center;
  line-height: 70px;
  right: 0;
  bottom: 8px;
}

.footer__copyright {
  background-color: #333333;
  text-align: center;
  padding: 7px 0;
}

.footer__copyright small {
  color: #ffffff;
  font-size: 1.2rem;
}
