@charset "UTF-8";
/*!
 * ress.css • v1.1.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

.none{
  display: none;
}
.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements */
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

body {
  font-size: 62.5%;
  color: #333333;
}

.header__top {
  width: auto;
  height: 80px;
  background-color: #F8F8F8;
  border: 1px solid #EAEAEA;
}

.header__top .header__top__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}

.header__top .header__top__contents .header__top__contents__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__top .header__top__contents .header__top__contents__left a.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__top .header__top__contents .header__top__contents__left a.header__logo img {
  margin: auto 0;
  height: 40px;
}

.header__top .header__top__contents .header__top__contents__left .header__search {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 44px;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  margin: auto 0 auto 24px;
}

.header__top .header__top__contents .header__top__contents__left .header__search .header__search__text {
  width: 80%;
  line-height: 44px;
  color: #333333;
  font-size: 1.6rem;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  padding-left: 15px;
}

.header__top .header__top__contents .header__top__contents__left .header__search .header__search__text::-moz-placeholder {
  opacity: 0.3;
}

.header__top .header__top__contents .header__top__contents__left .header__search .header__saerch__btn {
  display: inline-block;
  width: 20%;
  height: 100%;
  background-color: #BEBEBE;
  background-image: url(../img/header_icon_search.png);
  background-position: center;
  border-radius: 0 10px 10px 0;
}

.header__top .header__top__contents a.header__a__login {
  text-decoration: none;
  margin: auto 0;
}

.header__top .header__top__contents a.header__a__login .header__login {
  display: block;
  width: 120px;
  height: 44px;
  line-height: 44px;
  background-color: #F2A679;
  border-radius: 10px;
  margin: auto 0;
}

.header__top .header__top__contents a.header__a__login .header__login:hover {
  opacity: 0.7;
}

.header__top .header__top__contents a.header__a__login .header__login p {
  font-size: 1.6rem;
  color: #FFFFFF;
  font-weight: normal;
  text-align: center;
}

.header__nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav .header__nav__ul {
  width: 1200px;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav .header__nav__ul a {
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #333333;
}

.header__nav .header__nav__ul a:hover li {
  background-color: #E5E5E5;
}

.header__nav .header__nav__ul a:hover:nth-child(n+1):before {
  content: '';
  position: absolute;
  height: 100px;
  border: 2px solid #E5E5E5;
  -webkit-transform: translate(198px, 0px);
      -ms-transform: translate(198px, 0px);
          transform: translate(198px, 0px);
}

.header__nav .header__nav__ul a:before {
  content: '';
  position: absolute;
  height: 70px;
  border: 1px solid #E5E5E5;
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
}

.header__nav .header__nav__ul a:last-child:after {
  content: '';
  position: absolute;
  height: 70px;
  border: 1px solid #E5E5E5;
  -webkit-transform: translate(198px, 15px);
      -ms-transform: translate(198px, 15px);
          transform: translate(198px, 15px);
}

.header__nav .header__nav__ul a li {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style-type: none;
}

.header__nav .header__nav__ul a li div {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: 10px 0 10px 0;
}

.header__nav .header__nav__ul a li div img {
  width: 24px;
  height: 24px;
  margin: auto;
}

.header__nav .header__nav__ul a li div p {
  text-align: center;
  font-size: 1.4rem;
}

.header__img__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #FFFFFF;
  overflow: hidden;
  margin-top: 8px;
}

.header__img__box a {
  text-decoration: none;
  margin: 0 15px;
}

.index__search__wrap {
  background-color: #FCFCFC;
}

.index__search__wrap .index__search {
  width: 1200px;
  /* 修正 */
  height: auto;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
}

.index__search__wrap .index__search .index__search__left {
  margin-top: 10px;
  width: 33%;
}

.index__search__wrap .index__search .index__search__left .index__search__keyword {
  margin-bottom: 40px;
}

.index__search__wrap .index__search .index__search__left .index__search__keyword p {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.index__search__wrap .index__search .index__search__left .index__search__keyword .index__search__keyword__box {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 44px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  margin: auto 0;
}

.index__search__wrap .index__search .index__search__left .index__search__keyword .index__search__keyword__box .input__text {
  width: 80%;
  line-height: 44px;
  color: #333333;
  font-size: 1.6rem;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  padding-left: 15px;
}

.index__search__wrap .index__search .index__search__left .index__search__keyword .index__search__keyword__box .input__text::-moz-placeholder {
  opacity: 0.3;
}

.index__search__wrap .index__search .index__search__left .index__search__keyword .index__search__keyword__box .input__search__btn {
  display: inline-block;
  width: 20%;
  height: 100%;
  background-color: #BEBEBE;
  background-image: url(../img/header_icon_search.png);
  background-position: center;
  border-radius: 0 5px 5px 0;
}

.index__search__wrap .index__search .index__search__left .index__search__price p {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.index__search__wrap .index__search .index__search__left .index__search__price .index__search__price__box {
  font-size: 1.6rem;
}

.index__search__wrap .index__search .index__search__left .index__search__price .index__search__price__box input {
  -webkit-transform: scale(1.5, 1.5) translateY(-1px);
      -ms-transform: scale(1.5, 1.5) translateY(-1px);
          transform: scale(1.5, 1.5) translateY(-1px);
  margin-left: 30px;
  margin-right: 12px;
  padding-bottom: 10px;
  cursor: pointer;
}

.index__search__wrap .index__search .index__search__left .index__search__price .index__search__price__box input:first-child {
  margin-left: 0;
}

.index__search__wrap .index__search .index__search__left .index__search__price .index__search__price__box label {
  cursor: pointer;
}

.index__search__wrap .index__search .index__search__right {
  display: block;
  width: 67%;
}

.index__search__wrap .index__search .index__search__right .index__search__navi {
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.index__search__wrap .index__search .index__search__right .index__search__navi ul {
  width: 750px;
  height: 50px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index__search__wrap .index__search .index__search__right .index__search__navi ul li {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  list-style-type: none;
  text-align: center;
  line-height: 50px;
  color: #BEBEBE;
  cursor: pointer;
}

.index__search__wrap .index__search .index__search__right .index__search__navi ul li:hover {
  background-color: #B4BF5E;
  color: #FFFFFF;
}

.index__search__wrap .index__search .index__search__right .index__search__navi__box {
  width: 750px;
    /* 修正 */
  /* display: -webkit-box;
  display: -ms-flexbox;
    display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; */
  -webkit-box-pack: first baseline;
      -ms-flex-pack: first baseline;
          justify-content: first baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 55px;
  font-size: 2.8rem;
}

.index__search__wrap .index__search .index__search__right .index__search__navi__box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  margin-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.index__search__wrap .index__search .index__search__right .index__search__navi__box div input {
  margin-right: 4px;
  -webkit-transform: scale(1.5, 1.5) translateY(-1px);
      -ms-transform: scale(1.5, 1.5) translateY(-1px);
          transform: scale(1.5, 1.5) translateY(-1px);
  cursor: pointer;
  padding: 10px 0 10px 5px;
}

.index__search__wrap .index__search .index__search__right .index__search__navi__box div label {
  font-size: 1.4rem;
  cursor: pointer;
  padding: 5px;
}

.index__logobar__box {
  width: 1200px;
  margin: 40px auto 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

.index__logobar__box .index__logobar__num__box div {
  font-size: 1.6rem;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
}

.index__logobar__box .index__logobar__num__box div:nth-child(3) {
  margin-left: 5px;
}

.index__logobar__box .index__logobar__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.index__logobar__box .index__logobar__display input {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  cursor: pointer;
  margin: auto 5px auto 0;
}

.index__logobar__box .index__logobar__display label {
  cursor: pointer;
  padding: 5px 0;
}

.index__logobar__box .index__logobar__rine__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.index__logobar__box .index__logobar__rine__box .index__logobar__rine__text {
  font-size: 1.6rem;
  margin-left: 500px;
}

.index__logobar__box .index__logobar__rine__box select {
  font-size: 1.6rem;
  width: 150px;
  border: 1px solid #C1C1C1;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 30px;
  background: url(../img/index_logobar_arrow.png) no-repeat 120px center;
  color: #BEBEBE;
}

.index__logobar__box .index__logobar__rine__box select option {
  font-size: 1.6rem;
  color: #333333;
}

.index__logobox__container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px auto 50px auto;
}

.index__logobox__container .logo__logobox__wrap {
  position: relative;
  display: block;
  width: 166px;
  height: 166px;
  overflow: hidden;
}

.index__logobox__container .logo__logobox__wrap:nth-child(6n-5) {
  margin: 0 20px 40px 0;
}

.index__logobox__container .logo__logobox__wrap:nth-child(6n-4) {
  margin: 0 20px 40px 20px;
}

.index__logobox__container .logo__logobox__wrap:nth-child(6n-3) {
  margin: 0 20px 40px 20px;
}

.index__logobox__container .logo__logobox__wrap:nth-child(6n-2) {
  margin: 0 20px 40px 20px;
}

.index__logobox__container .logo__logobox__wrap:nth-child(6n-1) {
  margin: 0 20px 40px 20px;
}

.index__logobox__container .logo__logobox__wrap:nth-child(6n) {
  margin: 0 0 40px 20px;
}

.index__logobox__container .logo__logobox__wrap label {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.index__logobox__container .logo__logobox__wrap label input {
  display: none;
}

.index__logobox__container .logo__logobox__wrap label img {
  padding: 5px;
  cursor: cell;
}

.index__logobox__container .logo__logobox__wrap a {
  width: 166px;
  height: 166px;
}

.index__logobox__container .logo__logobox__wrap a img {
  position: absolute;
  width: 166px;
  height: 166px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.index__logobox__container .logo__logobox__wrap a .index__logo__text {
  display: none;
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #76513D;
}

.index__logobox__container .logo__logobox__wrap a .index__logo__text p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  margin-top: 11px;
}

.index__logobox__container .logo__logobox__wrap a .index__logo__text p:last-child {
  font-size: 1.2rem;
  color: white;
  font-weight: normal;
  margin-top: 8px;
}

.index__logobox__container .logo__logobox__wrap a:hover .index__logo__text {
  display: block;
  -webkit-animation-name: logotext;
          animation-name: logotext;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.index__logobox__container .logo__logobox__wrap a:hover::after {
  position: absolute;
  content: "";
  width: 166px;
  height: 166px;
  border: 1px solid #76513D;
  top: 0;
}

.index__logobox__container .logo__logobox__wrap a:hover img {
  -webkit-animation-name: big;
          animation-name: big;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 200px;
  height: 200px;
}

@-webkit-keyframes logotext {
  0% {
    -webkit-transform: translateY(166px);
            transform: translateY(166px);
  }
  100% {
    -webkit-transform: translateY(106px);
            transform: translateY(106px);
  }
}

@keyframes logotext {
  0% {
    -webkit-transform: translateY(166px);
            transform: translateY(166px);
  }
  100% {
    -webkit-transform: translateY(106px);
            transform: translateY(106px);
  }
}

@-webkit-keyframes big {
  0% {
    width: 166px;
    height: 166px;
  }
  100% {
    width: 180px;
    height: 180px;
  }
}

@keyframes big {
  0% {
    width: 166px;
    height: 166px;
  }
  100% {
    width: 180px;
    height: 180px;
  }
}

.pagenatoin__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 50px auto;
  text-align: center;
  color: #707070;
}
/* 修正 */
.pagenatoin__box>div {
  font-size: 2.4rem;
  list-style-type: none;
  /* display: inline-block; */
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

/* 修正 */
.pagenatoin__box .pagenatoin__back {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  padding: 10px 20px 10px 20px;
}
/* 修正 */
.pagenatoin__box .pagenatoin__back i {
  font-size: 1.2rem;
  margin-right: 10px;
}

.pagenatoin__box .pagenatoin__back:hover {
  background-color: #B4BF5E;
}

/* 修正 */
.pagenatoin__box .pagenatoin__back:hover {
  color: white;
}

.pagenatoin__box .pagination__next {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  padding: 10px 20px 10px 20px;
}

/* 修正 */
.pagenatoin__box .pagination__next i {
  font-size: 1.2rem;
  margin-left: 10px;
}

.pagenatoin__box .pagination__next:hover {
  background-color: #B4BF5E;
}

/* 修正 */
.pagenatoin__box .pagination__next:hover{
  color: white;
}

/* 修正 */
ul.pagenatoin__pagebox{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}
.pagenatoin__pagebox>li {
  font-size: 2.4rem;
  list-style-type: none;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}
ul.pagenatoin__pagebox li.pagenatoin__num {
  font-size: 1.8rem;
  padding: 10px 15px;
}

ul.pagenatoin__pagebox li.pagenatoin__num div {
  pointer-events: none;
}

ul.pagenatoin__pagebox li.pagenatoin__num:hover {
  background-color: #B4BF5E;
}

/* 修正 */
ul.pagenatoin__pagebox li.pagenatoin__num:hover{
  color: white;
}

ul.pagenatoin__pagebox li.pagenatoin__reader {
  font-size: 1.8rem;
  padding: 5px 10px;
  cursor: auto;
  border: none;
  line-height: 3.6rem;
}

ul.pagenatoin__pagebox li.pagenation__now {
  background-color: #B4BF5E;
}

/* 修正 */
ul.pagenatoin__pagebox li.pagenation__now{
  color: white;
}

.index_propaganada_container {
  width: 1200px;
  margin: 100px auto 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index_propaganada_container .index_propaganada_item {
  width: 569px;
  height: 180px;
}

.footer__information {
  background-color: #F8F8F8;
  border: 1px solid #E5E5E5;
  padding-top: 50px;
  padding-bottom: 80px;
}

.footer__information .footer__information__box {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__information .footer__information__box .footer__information__left {
  width: 60%;
}

.footer__information .footer__information__box .footer__information__left p {
  display: block;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.footer__information .footer__information__box .footer__information__left p:first-child {
  width: 200px;
  background: url(../img/index_information_price.png) no-repeat 2px center;
  font-weight: bold;
  padding-left: 35px;
  margin-bottom: 20px;
}

.footer__information .footer__information__box .footer__information__left p:last-child {
  color: #BEBEBE;
  padding-right: 50px;
}

.footer__information .footer__information__box .footer__information__right {
  display: block;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.footer__information .footer__information__box .footer__information__right img.logo__midium {
  width: 279px;
  height: 66px;
  margin: 0 auto 40px auto;
}

.footer__information .footer__information__box .footer__information__mail {
  width: 380px;
  height: 174px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #E5E5E5;
  padding: 30px 20px;
}

.footer__information .footer__information__box .footer__information__mail p {
  font-size: 1.5rem;
  line-height: 2.0rem;
}

.footer__information .footer__information__box .footer__information__mail p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__information .footer__information__box .footer__information__mail a {
  text-decoration: none;
}

.footer__information .footer__information__box .footer__information__mail a .footer__information__mail__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 170px;
  height: 44px;
  line-height: 44px;
  background-color: #F2A679;
  border-radius: 10px;
  margin: 20px auto 0 auto;
}

.footer__information .footer__information__box .footer__information__mail a .footer__information__mail__btn:hover {
  opacity: 0.7;
}

.footer__information .footer__information__box .footer__information__mail a .footer__information__mail__btn img.mail {
  height: 16px;
  margin: auto 10px auto 15px;
}

.footer__information .footer__information__box .footer__information__mail a .footer__information__mail__btn p {
  font-size: 1.6rem;
  line-height: 44px;
  color: #FFFFFF;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: normal;
  padding-left: 5px;
}

.footer__sitemap_wrap {
  background-color: #505050;
  padding: 20px 0;
}

.footer__sitemap_wrap .footer__sitemap_box {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.footer__sitemap_wrap .footer__sitemap_box ul {
  text-align: center;
  margin: 0 auto;
}

.footer__sitemap_wrap .footer__sitemap_box ul a {
  text-decoration: none;
}

.footer__sitemap_wrap .footer__sitemap_box ul a li {
  font-size: 1.2rem;
  display: inline-block;
  color: #FFFFFF;
  margin: 0 10px;
}

.footer__sitemap_wrap .footer__sitemap_box a.footr__back__top__link .footr__back__top {
  position: absolute;
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%;
  background-color: #333333;
  text-align: center;
  line-height: 70px;
  right: 0;
  bottom: 8px;
}

.footer__copyright {
  background-color: #333333;
  text-align: center;
  padding: 7px 0;
}

.footer__copyright small {
  color: #ffffff;
  font-size: 1.2rem;
}
